* {
  padding: 10px;
}
html,
body {
  padding: 0px;
  margin: 0px;
}
// img {
//   height: 447px;
//   width: 660px;
//   object-fit: cover;
//   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }
.gallery-link:hover img {
  transform: scale(1.03);
}
.info {
  display: flex;
  justify-content: space-evenly;
  color: black;
  text-decoration: none;
}
.is-hidden {
  display: none;
}
.load {
  font-weight: bold;
  padding: 10px;
  margin-top: 20px;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px;
  padding: 20px;
}
.gallery {
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.search-form {
  display: flex;
  justify-content: center;
  background-color: blue;
}

.photo-card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14),
    0 2px 1px -1px rgba(0, 0, 0, 0.12);

  padding: 0;
}
.info-item {
  display: flex;
  position: relative;
  margin-top: 8px;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
.gallery-link {
  text-decoration: none;
}
